# Compiled Object files
*.o
*.obj

# Precompiled Headers
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.def

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# Python Byte-compiled / optimized / DLL files
*.py[cod]

# docs (outputs, inputs are .t2t)
*.html

# for projects that use SCons for building: http://http://www.scons.org/
.sconsign.dblite

