#body {
border:1px solid #202020;
border-bottom:0;
border-top:0;
color:#000;
padding:1.5em;
}

#container {
background-color:#fafafa;
margin:1em 5%;
position:absolute;
width:90%;
}

@media print {
  #container {
  background-color:#ffffff;
  margin: 0;
  position:static;
  width:100%;
  }
}

#high {
background-color:#202020;
height:2.4em;
max-height:2.4em;
}

@media print {
  #high { display: none; }
}

#header {
background-color:#3882C7;
border:1px solid #fafafa;
color:#fafafa;
font-size:2em;
padding-left:2em;
padding-top:1em;
padding-bottom:1em;
padding-right:82px;
}

@media print {
  #header {
  background-color:#FFFFFF;
  border:1px solid #000000;
  color:#000000;
  font-size:2em;
  padding-left:2em;
  padding-top:1em;
  padding-bottom:1em;
  padding-right:82px;
  }
}

#footer {
border:1px solid #202020;
border-top:0;
padding:0.5em;
text-align:right;
font-size: 70%;
}

h1.title {
  text-align: left;
}

h2.subtitle {
  text-align: left;
}

#logo {
  float: right;
  padding: 10px 10px 10px 10px;
}

.menuhigh {
font-size:1em;
list-style-type:none;
margin:0;
padding:0;
}

.menuhigh a {
color:#fafafa;
margin:0 0.4em;
text-decoration:none;
}

.menuhigh a:hover {
color:#FF0;
text-decoration:none;
}

.menuhigh li {
border-right:1px solid #fff;
display:inline;
float:left;
margin:0;
padding:0.6em 10px;
}

a {
color:#000;
text-decoration:underline;
}

a:hover {
color:#0000ff;
}

body {
background-color:#CDCDCD;
font-family:Verdana, Arial, sans-serif;
font-size:1.0em;
/*font-family:Verdana, Arial, Helvetica, sans-serif;*/
/*font-size:0.75em;*/
}

@media print {
  body {
  background-color:#FFFFFF;
  font-family:Palatino, serif;
  font-size:1.0em;
  /*font-family:Verdana, Arial, Helvetica, sans-serif;*/
  /*font-size:0.75em;*/
  }
}

#toc
{
  display: block;
	margin: 5px;
	padding: 5px;
	border: 1px dotted;
	background: #ffffee;
}

h1 {
font-size:1.6em;
margin:0.5em 0.5em 1em 0;
}

h2 {
font-size:1.2em;
margin:0.8em 0.5em 0.3em 0.6em;
}

h3 {
font-size:1.1em;
margin:0.8em 0.5em 0.3em 0.8em;
}

h4 {
font-size:1em;
margin:0.7em 0.5em 0.3em 1em;
}

h5 {
font-size:0.9em;
margin:0.6em 0.5em 0.2em 1.5em;
}

p {
margin:1px 0.5em 0.5em 1.5em;
}

.textsup {
  vertical-align: super;
  font-size: 80%;
}
.textsub {
  vertical-align: sub;
  font-size: 80%;
}

pre
{
  display: block;
  margin:1em 2.5em 1em 3.5em;
/*  margin: 5px;*/
	padding: 5px;
  color: #873333;
	border: 1px dotted;
	background: #f4ffff;
/*  min-width: 700px;*/
	font-family: Courier, 'Courier New', 'Andale Mono', Monaco, monospace;
  font-size: 80%;
}

code
{
	color: #87391b;
	font-family: Courier, 'Courier New', 'Andale Mono', Monaco, monospace;
}

#header h1 {
font-size:1.0em;
margin:0.0em 0.0em 0em 0;
}

#header h2 {
font-size:0.6em;
margin:0.2em 0.0em 0.0em 0.0em;
}

/* The table styles are from the open-source "Sinorcaish" stylesheet
 * by John Zaitseff, <http://www.oswd.org/design/preview/id/1794> */

table {
   color:           inherit;
   background:      inherit;	/* Don't make tables transparent */
   border-collapse: collapse;
   border-spacing:  0;
   empty-cells:     show;
   margin:          0.5em 2.5em;
   padding:         0;
   border:          1px solid #999999;
}

table caption {
   text-align:      center;
   caption-side:    top;
   margin:          0 2.5em 0.75em;
   padding:         0;
   border:          none;
}

table td,
table th {
   text-align:      center;
   vertical-align:  middle;
   margin:          0;
   padding:         0.25em 0.5em;
   border:          1px solid #999999;
}

table th,
table td.highlight,
table th.highlight {
   font-weight:     bold;
   color:           inherit;
   background:      #F0F0F0;
}

table td.lighter,
table th.lighter {
   color:           inherit;
   background:      #F8F8F8;
}

table td.left,
table th.left {
   text-align:      left;
}

table td.center,
table th.center {
   text-align:      center;
}

table td.right,
table th.right {
   text-align:      right;
}



