% Howto:    txt2tags.sourceforge.net/markup.html
% Quickref: txt2tags.sourceforge.net/txt2tags-quickref.pdf
% Tips:     txt2tags.sourceforge.net/tips.html

% UTF-8 not iso-8859-1, for symbols like TM.
%!encoding: UTF-8

%%% CSS-friendly html tags
%!options(html): --css-sugar
%! Style(html) : styles.css

% If only preproc worked here, then it could contain %%mtime(%m/%d/%Y) too.

% Tweaks to conform to the liblueen stylesheet template better.
%!postproc: <BODY> '<BODY>\n<DIV id="container">\n<div id="logo">\n<a title="University of Illinois at Urbana-Champaign" href="http://www.uiuc.edu/">\n<img alt="U. of I. logo" src="images/uilogo_black38.gif" />\n</a>\n</div>'
%!postproc: </BODY> '<DIV id="footer">\n<p>By the <a href="http://www.isl.uiuc.edu">Integrated Systems Lab</a>. &copy; University of Illinois Board of Trustees.</p>\n<p>Page design based on <a href="http://www.oswd.org/design/preview/id/2704">liblueen</a> by <a href="http://nicolas.freezee.org">Nicolas Fafchamps</a>. Page generated using <a href="http://txt2tags.sourceforge.net/">txt2tags</a>.</p></DIV></DIV>\n</BODY>'
%!postproc: '<DIV CLASS="body"' '<div id="high">\n<ul class="menuhigh">\n<li><a href="index.html">Table of Contents</a></li>\n<li><a href="http://www.isl.uiuc.edu/syzygy.htm">Syzygy Home</a></li>\n<li><a href="http://www.isl.uiuc.edu/">ISL Home</a></li>\n</ul>\n</div>\n\n<DIV CLASS="body"'

%!postproc: '<DIV CLASS="toc" ID="toc">' '<DIV CLASS="toc" ID="toc">\n<H1>Page Contents:</H1>\n'
%!postproc: Header1 'Syzygy Documentation:'
%!postproc: Header2 'Integrated Systems Lab'
%!preproc: Header3 ''

% Line break
%!postproc(html): @@ <BR>

% <strong> and <em> instead of <B> and <I>
%!postproc(html):  '(?i)(</?)b>'  '\1strong>'
%!postproc(html):  '(?i)(</?)i>'  '\1em>'

% Insert e.g. <DIV> tags using {{DIV}}
%!postproc(html):  {{(.*?)}}  <\1>

% Super- and sub-script delimited by ^^ and ,,
%!postproc(html):  \^\^(.*?)\^\^  <span class="textsup">\1</span>
%!postproc(html):  ,,(.*?),,      <span class="textsub">\1</span>

% (C), (R) and (TM) as copyright symbols
%!postproc(html):  \(C\)   &copy;
%!postproc(html):  \(R\)   &reg;
%!postproc(html):  \(TM\)  &#8482;
