% Howto:    txt2tags.sourceforge.net/markup.html
% Quickref: txt2tags.sourceforge.net/txt2tags-quickref.pdf

%!encoding: iso-8859-1

%%% Always use CSS-friendly tags in HTML
%!options(html): --css-sugar
%! Style(html) : styles.css

% If only preproc worked here, then it could contain %%mtime(%m/%d/%Y) too.
%!postproc: <BODY> '<BODY>\n<DIV id="container">'
%!postproc: </BODY> '<DIV id="footer">Stylesheet based on <A href="http://www.oswd.org/design/preview/id/2704">liblueen</A> by <A href="http://nicolas.freezee.org">Nicolas Fafchamps</A></DIV></DIV>\n</BODY>'
%!postproc: '<DIV CLASS="body"' '<div id="high">\n<ul class="menuhigh">\n<li><a href="index.html">Table of Contents</a></li>\n<li><a href="http://www.isl.uiuc.edu/syzygy.htm">Syzygy Home Page</a></li>\n<li><a href="http://www.isl.uiuc.edu/">ISL Home</a></li>\n</ul>\n</div>\n\n<DIV CLASS="body"'
%!postproc: '<DIV CLASS="toc" ID="toc">' '<DIV CLASS="toc" ID="toc">\n<H1>Page Contents:</H1>\n'
%!postproc: Header1 'Syzygy Documentation:'
%!postproc: Header2 'Integrated Systems Lab'
%!preproc: Header3 ''

% Line break
%!postproc(html): @@ <BR>

% <strong> and <em> instead of <B> and <I>
%!postproc(html):  '(?i)(</?)b>'  '\1strong>'
%!postproc(html):  '(?i)(</?)i>'  '\1em>'
